{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h3>Вопрос # {{ object.pk }}</h3>
<h3 id="title" hidden="hidden">{{ object.question.pk }}</h3>
{{ object.question.title }}
<br>
<br>
<form id="question" method="post">
{% csrf_token %}
{% for option in object.question.options.all %}
    <div>
      <input type="checkbox" id="option_{{ option.pk }}" name="options" value="{{ option.pk }}">
      <label for="option_{{ option.pk }}">{{ option.title }}</label>
    </div>
{% endfor %}

<input type="submit" form="question" value="Ответить">
<input type="button" id="get_true" value="Правильные ответы">
</form>
</body>
<script src="{% static 'options.js' %}"></script>
</html>