{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Регистрация</title>
</head>
<body>
    <div class="wrapper">
        <div class="main">
            <div class="main__container">
                <form class="main__form" method="post">
                    {% csrf_token %}
                    <div class="main__title">
                        <h1>Регистрация</h1>
                    </div>

                    <div class="main__items">
                        {% for field in form %}
                            {{field.label_tag}}
                            <div>{{field}}</div>
                            {% if field.errors%}
                                {% for error in field.errors %}
                                    <div class="errors" style="color: red; opacity: 1;">
                                        <span>{{error}}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                     <input class="main__button" type="submit" value="Отправить">
                    <a style="margin-bottom: -15px;" href="{% url 'login' %}">Войти</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
