{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тест № {{ object.pk }}</title>
</head>
<body>
<h3>Тест № {{ object.pk }}</h3>

<a href="{% url 'test-start' object.pk %}">Пройти тест</a>

{% if finished_tests %}

<h3>Прошлые попытки</h3>
<ol>
    {% for test in finished_tests %}
        <li>
            <i style="color: green">{{ test.corrects }}</i>
            <i style="color: red">{{ test.un_corrects }}</i>
            <i style="color: orange">{{ test.corrects|correct_percentage:test.un_corrects}}</i>
        </li>

    {% endfor %}
</ol>

{% endif %}
</body>
<br>
<a href="{% url 'main' %}" class="auth__exit">Список тестов</a>

</html>